// colors
$white: #eff3f3;

$lightest-grey: #999999;
$lighter-grey: #787878;
$light-grey: #7b7b7b;
$grey: #555555;
$dark-grey: #a1a4a4;
$darkest-grey: #1c1c1c;

$red: #fb6041;
$dark-red: #e94726;

$blue: #26cbbd;
$dark-blue: #21ac99;

$green: #a9cf6a;
$dark-green: #98be58;

$yellow: #f6c640;
$dark-yellow: #cb9e21;

// grid options
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
